<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="サイトの説明文を入れてください。">
<meta name="keyword" content="キーワード1,キーワード2,キーワード3">
<title>TNM</title>
<%= stylesheet_link_tag "style", media: "all" %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>

<body>
<!-- ヘッダここから -->
<header>
<div id="box_t">
<h2 id="top">T N M</h2>
</div>
<div id="menu">
<nav>
<ul>
	<li class="header-list"><a class="header-a" href="/main_page/top">使い方</a></li>
	<li class="header-list"><a class="header-a" href="">NEW ME</a></li>
	
</ul>
</nav>
</div>
</header>
<!-- /ヘッダここまで -->

<p id="intro">
	新しいあなたを見つけます!
</p>

<!-- カテゴリここから -->
<div id="catebox">
	<ul class="clearfix">
	<li><div class="wrapper">
            <div class="box1">
            	<div class="box1-text"><%= @j.recInterest()%></div> 
            </div>
        </div>
    </li>
    <li><div class="wrapper">
            <div class="box2">
             	<div class="box1-text"><%= @j.recFood()%></div>  
            </div>
        </div>
    </li>
	<li>
		<div class="imgs"><a href="category1.html"><img src= <%= asset_path('sample.jpeg') %> width="85" height="85" alt="カテゴリ３"></a></div>
	</li>
	<li><div class="wrapper">
            <div class="box3">
             	<div class="box1-text"><%= @j.recPlace()%></div>  
            </div>
        </div>
    </li>
	</ul>
</div>
<!-- /カテゴリここまで -->

<!-- 広告ここから -->
<p class="ad"><a href="#" class="square_btn" onclick="window.location.reload()">新しい自分を探す</a>
<%= button_to '自分ボットとチャットする！', {:controller => "main_page", :action => "chat", :username => @username} , {class: 'square_btn'} %> 
<!-- /広告ここまで -->



<!-- フッタここから -->
<footer>
<div id="footer">
<p class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="【ツイート本文】" data-via="【ユーザ名】" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】" data-hashtags="【ハッシュタグ】">Tweet</a>
</p>
</div>
</footer>
<!-- /フッタここまで -->

</body>
</html>
